# SMS/EMAIL SPAM CLASSIFIER ML PROJECT

In [16]:
import numpy as np
import pandas as pd

In [20]:
df=pd.read_csv('spam.csv', encoding='ISO-8859-1')
df.sample(5) #to check only 5 rows od data set

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
3804,ham,Dude while were makin those weirdy brownies my...,NaN,NaN,NaN
1776,spam,Call FREEPHONE 0800 542 0578 now!,NaN,NaN,NaN
1053,ham,Jay's getting really impatient and belligerent,NaN,NaN,NaN
4793,ham,Sorry that was my uncle. I.ll keep in touch,NaN,NaN,NaN
3973,ham,Roger that. WeÛ÷re probably going to rem in a...,NaN,NaN,NaN

In [21]:
df.shape #to check how many rows and columns are their in data set

(5572, 5)

# Stages To Solve Problem
#### 1 Data Cleaning
#### 2 EDA
#### 3 Text Preprocessing
#### 4 Model Building
#### 5 Evaluation
#### 6 Improvements(Depending Upon Evaluation)
#### 7 Convert Into Website
#### 8 Deploy

## 1 Data Cleaning Process

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [26]:
# we will drop last three columns because of null data
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)
df.sample(5)

       v1                                                 v2
4695  ham  A guy who gets used but is too dumb to realize...
4867  ham  Watching cartoon, listening music &amp; at eve...
5527  ham  Total disappointment, when I texted you was th...
3962  ham      If you ask her or she say any please message.
1932  ham                          Jus finished avatar nigro

In [27]:
# Now i will rename the column for better understanding
df.rename(columns={"v1":"target","v2":"text"},inplace=True)
df.sample(5)

     target                                               text
5173    ham                                               U 2.
1942    ham     K...k:)why cant you come here and search job:)
4400    ham      Many times we lose our best ones bcoz we are
4252    ham  Juz now havent woke up so a bit blur blur... C...
2906    ham                                             ALRITE